.confirmButtons{
    display: flex;
    .confirmBtn{
        background-color: blueviolet;
        position: absolute;
    }
    .cancelBtn{
        background-color: red;
        left: 120px;
        position: absolute;
    }
    button{
        margin:0px 5px;
        padding: 10px 25px;
        border-radius: 5px;
        border-style: none;
        color:white;
    }
}
.notification {
	span {
		display: flex;
		align-items: center;
		gap: 5px;
	}
}
