* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}

body {
  background-color: #e5eaf1;
  padding: 30px 30px 0;
}

.app {
  display: flex;
  border-radius: 30px 30px 0 0;
  box-shadow: 3px 1px 10px 13px rgba(251, 250, 250, 0.382);
  background-color: #fff;
  height: 100vh;
  width: 95vw;
  // padding: 30px;
  .app__inside {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    .app__left {
      width: 15%;
      min-width: 150px !important;
    }
    .app__right {
      width: 85%;
      overflow-y: scroll;
      overflow-x: hidden;
      height: 88vh;
    }
  }

  .container {
    margin: 0 auto;
    width: 100vw;
  }
  button:active {
    box-shadow: 2px 1px 20px rgb(74, 131, 206);
  }
}
